<!-- shortcut form- (ngForm). nimi vaikimisi #form.  
ngSubmit käivitub iga nupu vajutusega, kui mitu nuppu vaja hoida, siis teisteel panna teine tüüp
onSubimit(siia vormi nimi, mis tähendab, et kogu vormi sisu antakse kaasa) #form
ngModel seob vormiga ja vajab alti name -->

<button class="main-button back" routerLink="/admin">Tagasi</button>

<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
  <label>Nimetus</label><br />
  <input placeholder="Toote nimetus" type="text" ngModel name="title" required /><br />

  <label>Pilt</label><br />
  <input placeholder="Toote pilt" type="text" ngModel name="imgSrc" required /><br />

  <label>Hind</label><br />
  <input placeholder="Toote hind" type="number" ngModel name="price" required /><br />

  <label>Kategooria</label><br />
  <input placeholder="Toote kategooria" type="text" ngModel name="category" required /><br />

  <label>Ribakood</label><br />
  <input
    (keyup)="onCheckBarcodeUnique()"
    [(ngModel)]="barcode"
    placeholder="Toote ribakood"
    ngModel
    name="barcode"
    minlength="8"
    maxlength="8"
    pattern="^[0-9]*$"
    type="text"
    required
  /><br />

  <div *ngIf="!barcodeUnique" class="alert alert-danger" role="alert">Jama majas, see ribakood juba olemas</div>

  <label>Tootja</label><br />
  <input placeholder="Toote tootja" type="text" ngModel name="producer" /><br />

  <label>Kirjeldus</label><br />
  <input placeholder="Toote kirjeldus" type="text" ngModel name="description" /><br />

  <!-- property binding - html atribuudi muutuvaks (dünaamiliseks) tegemine - kandiliste sulgude ümber panemine. Kui kandilised sulud, siis peab olema võrdusmärk ja avaldis -->
  <button class="main-button add" [disabled]="addItemForm.invalid" type="submit">Sisesta toode</button>
</form>
