<button class="main-button back" (click)="onBack()">Tagasi</button>

<form *ngIf="editItemForm" (ngSubmit)="onSubmit(editItemForm)" [formGroup]="editItemForm">
  <label>Nimetus</label><br />
  <input placeholder="Toote nimetus" type="text" formControlName="title" required /><br />

  <label>Pilt</label><br />
  <input placeholder="Toote pilt" type="text" formControlName="imgSrc" required /><br />

  <label>Hind</label><br />
  <input placeholder="Toote hind" type="text" formControlName="price" required /><br />

  <label>Kategooria</label><br />
  <input placeholder="Toote kategooria" type="text" formControlName="category" required /><br />

  <label>Ribakood</label><br />
  <input
    (keyup)="onCheckBarcodeUnique()"
    placeholder="Toote ribakood"
    formControlName="barcode"
    name="barcode"
    minlength="8"
    maxlength="8"
    pattern="^[0-9]*$"
    type="text"
    required
  /><br />

  <div *ngIf="!barcodeUnique" class="alert alert-danger" role="alert">Jama majas, see ribakood juba olemas</div>

  <label>Tootja</label><br />
  <input placeholder="Toote tootja" type="text" formControlName="producer" /><br />

  <label>Kirjeldus</label><br />
  <input placeholder="Toote kirjeldus" type="text" formControlName="description" /><br />

  <label>Aktiivne</label><br />
  <input type="checkbox" formControlName="isActive" /><br />

  <button class="main-button add" [disabled]="editItemForm.invalid || !barcodeUnique" type="submit">Muuda</button>
</form>
