<div class="empty-cart-button" (click)="onEmptyCart()" *ngIf="cartItems.length > 0">Tühjenda ostukorv</div>

<div class="items-wrapper">
  <div class="item" *ngFor="let item of cartItems; let ilmar = index">
    <!-- String interpolation - kahe loogelise sulu vahel muutuja kasutajale näitamine -->
    <img src="{{ item.imgSrc }}" />
    <div class="item-title">{{ item.title }}</div>
    <div class="item-price">{{ item.price }}</div>
    <!-- Event binding - ümar sulgude vahel sündmuse kasutusele võtmine -->
    <img (click)="onDeleteFromCart(ilmar)" class="delete-from-cart-button" src="assets/bin.svg" alt="" />
  </div>
</div>

<div class="sum-of-cart" *ngIf="cartItems.length > 0">SUMMA: {{ sumOfCart.toFixed(2) }} €</div>

<div class="empty-cart" *ngIf="cartItems.length == 0">
  <img src="//unsplash.it/100/100" alt="" />
  <div>Ostukorv on tühi</div>
</div>
