/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  font-family: "Mukta", sans-serif;
  outline: none;
}

.main-button {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #007cc3;
  color: white;
  font-size: 20px;
}

.back {
  height: 50px;
  width: 150px;
  top: -100px;
  margin: 30px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.item:hover .add-to-cart-button {
  visibility: visible;
}

.item img {
  width: 100%;
  height: 130px;
}

.picsum-img-wrapper img {
  width: 90%;
  margin: 0 5%;
}
