<!-- {{ items | json  }} -->

<!-- {{ kuupaev | date: "fullDate" | uppercase }}
{{ 500000 | currency: "EUR" }} -->

<app-gallery-carousel></app-gallery-carousel>
<br /><br />

<div class="sidenav">
  <div (click)="onCategoryFilter('all')" [ngClass]="{ 'category-active': categoryShown == 'all' }">
    Kõik kategooriad
  </div>
  <div
    (click)="onCategoryFilter(category)"
    *ngFor="let category of itemsOriginal | showActiveItems: isLoggedIn | uniqueCategory"
    [ngClass]="{ 'category-active': category == categoryShown }"
  >
    {{ category }}
  </div>
</div>

<div class="filter-bar">
  <div class="filter-name">{{ "sort-text" | translate }}:</div>
  <div class="filter-value price" (click)="onSortPrice()">
    {{ "Hinna alusel" | translate }}
  </div>
  <div class="filter-value title" (click)="onSortTitle()">
    {{ "Tähestiku alusel" | translate }}
  </div>
</div>

<div class="items-wrapper">
  <app-item-card
    class="item"
    *ngFor="let itemShown of itemsShown; let i = index"
    [item]="itemShown"
    [i]="i"
    [loggedIn]="isLoggedIn"
    (itemActiveChanged)="itemActiveChanged($event)"
  >
  </app-item-card>
</div>
